.tb-format{
    color: #79dfd5;
}
.lib-table-th{
    color: #79dfd5;
}

.lib-table-tr{
    color: #79dfd5;

}

.lib-table-td{
    color: #79dfd5;
}

.play-icon{
    font-size:35px;
    color:red
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #01554d;
    color: whitesmoke;
  }
  .tracks-heading{
      color: #01897b;
  }

  .p-3{  
    

  } 
  
  div.transbox {
    display: -webkit-flex; /* Safari */
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    display: flex;   
    flex-wrap: wrap;
    background-color:black;
    opacity: 0.81;
  
  }