.album-title{
    padding-left: 30px;
    /* color: #01897b; */
    /* color: #E5E108 */
    color: yellow
}
.album-sub-details{
    padding-left: 50px;
    /* color: #01897b; */
     color: #0cff04;
}