.footer-container {
    background: #363636;
    height: 20px;
     
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* line-height: 60px; */
    background-color: #363636;
    border-top: 2px solid #01554d 
}


.footer-text{
    color: #79dfd5;
    text-align: center;

}